<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>tester</servlet-name>
        <servlet-class>com.streak.objectifyperf.TesterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tester</servlet-name>
        <url-pattern>/tester</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>tester</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.streak.objectifyperf.ContextInitializer</listener-class>
    </listener>
</web-app>
